# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log


# VS code
.vscode/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Firebase Service Account Key
foodpantry-1a506-firebase-adminsdk-vqspz-c70a3db5ac.json
